<div class="jumbotron text-center">
  <div class="container">
 <h1> Phone number on record is wrong or need to resend SMS? </h1>

  </div>

  <div class="container" id="app-texty-form-verify-go">
    <h1>Wrong phone number? Or resend sms?<h1>
    <%= form_for @phone, url: '/apps/texty/update_phone'  do |f| %>
    <%= f.label :number, 'Enter your phone number' %>
    <%= f.text_field :number, class: 'form-control', placeholder: '############' %>




    <br>
    <%= f.submit 'Re-send VerCode', class: 'btn btn-primary'%>
    <% end %>
  </div>


</div>
