<div class="jumbotron text-center">
  <div class="container">
 <h1> Please provide us with your phone number so we can send you a new verification code </h1>

  </div>
<br><br><br><br>
  <div class="container" id="app-texty-form-verify-go">

    <%= form_for @phone, url: '/apps/texty/update_phone'  do |f| %>
    <%= f.label :number, 'Enter your phone number' %>
    <%= f.text_field :number, class: 'form-control', placeholder: '############' %>




    <br>
    <%= f.submit 'Re-send VerCode', class: 'btn btn-primary'%>
    <% end %>
  </div>


</div>
