<div class="container">
  <div class="container" id="app-texty-title">
    <h1>Welcome</h1>
  </div>
  <h1>We are sending you a verification code to the following number: <%= @user[:custom][:telephone]%> </h1>





  <div class="container navbar-fixed-bottom" id="app-texty-footer">
    <p>*please note that your phone number will not be saved, shared, or sold by this application nor any other party, it is only used for the purposes of this exercise</p>
  </div>
</div>
