@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Fira Mono';
  background-color: #3d4255;
}

.jumbotron {
  margin-top: -50px;
  margin-bottom: 0px;
  font-family: 'Fira Mono';
  background-color: #3a3846;
}

.label {
    display: block;
    padding: .2em .6em .3em;
    font-size: 150%;
    font-weight: bold;
    line-height: 1;
    color: #1D1A1A;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


#app-texty-form-verify-go.container {
  background-color: #919194;
width: 300px;
height: 300px;

border-radius: 150px;
padding: 70px;
margin-top: 60px;
text-align: center;
display: block;
   margin-left: auto;
   margin-right: auto


}

#app-texty-form-verify-go2.container {

  color:white;
  text-align: center;
  display: block;
     margin-left: auto;
     margin-right: auto;
         margin-left: -15px;
         margin-top: 35px;


}

#app-texty-form-verify-go3.container {
  background-color: white;

width: 300px;
height: 300px;
background: #f5f5f5;
border-radius: 150px;
padding: 50px;
text-align: center;
display: inline-block;
margin-left: auto;
margin-left: 50px;
    margin-right: auto;

    margin-bottom: 30px;

}
#app-texty-form-verify-go4.container {
  background-color: #ebeef4;

width: 300px;
height: 300px;
background: #919194;
border-radius: 150px;
padding: 90px;
text-align: center;
display: block;
margin-top: -20px;

}

.form-control {
  width:100%
}

.fade {
  opacity: 0.7;
}

.fade:hover{
  opacity: 1;
}

.jumbotron h1 {
  font-size: 14px;
      padding-bottom: 20px;
}

.jumbotron.text-center {
    font-family: 'Fira Mono';
    color: white;
    margin-top: -59px;
    padding-bottom: 10px;
  }

  .btn.btn-primary{
    margin-top: -15px;
  }
  .btn.btn-primary.here{
    margin-top: 10px;
    background-color:#3d4255;
  }
  .navbar-inverse {
    background: #3d4255;
  }

  .logo a {
    background-color: white;
  }
